<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppId" value="cxYuw-DN70OsLv7IXJZdNg" />
		<add key="AccessToken" value="eyJhbGciOiJSUzI1NiIsImtpZCI6IlNIQTI1NjpzS3dsMnlsV0VtMjVmcXhwTU40cWY4MXE2OWFFdWFyMnpLMUdhVGxjdWNZIiwidHlwIjoiSldUIn0.eyJzdWIiOiJ1c2VyIiwiZXhwIjoxNjkxNzY5MjEzLjAxMjMyMywiaWF0IjoxNjkxNjgyODEzLjAxMjMyMywianRpIjoiM05JR21YNTlEaEVFWDhrdVZ2YUp5UUExcnk0dUlnIiwiY2lkIjoiY3hZdXctRE43ME9zTHY3SVhKWmROZyIsImxpZCI6InQyXzZ4ZGN4ZWt1IiwiYWlkIjoidDJfNnhkY3hla3UiLCJsY2EiOjE1OTIxODc2MDg0NDcsInNjcCI6ImVKeUtWaXBLVFV4UmlnVUVBQURfX3d2RUFwayIsInJjaWQiOiJGYmk3QjFjS3A1UDZVSzc5ZjVRZ3V0OVlJQWtSTE42UHJJYnpHOVhNYTlrIiwiZmxvIjo4fQ.F7ZV1ERh6-RBgzYTFBMNXaoEkZxJSNO260ySX1bIEopWl0IzKNcy0Ejooscfk-XPqtfOwhhFbCXZyhbvK5Vu3Go3x36u1wiCFwB_xH15mI-h7TEVX3kPpN6j8Gwd1bg29deh9r8B1HOvLyBWHSaBPLCqI40TBxNjxDUahNd1T0O1ejF0hubrPnSN15ozlcQU-ISC-dRj-lQimHQ58LPs4r2yf2lF5bnZeYn1jUZxiEpTqaoAxs2fIkyOjFFqtooT6chqcYZEd-1Dn92v23PzYXJStNdw3HjvO5jDFP9ao-agPSI26rh2CBqaqNYzP8gwOX54a8sll_C40GmU-FYxpw" />
		<add key="RefreshToken" value="542826575886-gyHsM27xMTt_fwVy6vyHMEOV_AJ34Q" />
		<add key="UpdateInterval" value="1" />
		<add key="subReddits" value="all" />
	</appSettings>
</configuration>